/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flex-box {
  display: flex;
}
.max-width {
  max-width: 100%;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1rem;
  font-style: italic;
}
p {
  font-size: 1rem;
}
section {
  padding-left: 5px;
}
header nav {
  max-width: 100%;
  padding-left: 200px;
  width: 100%;
  display: flex;
}
@media (max-width: 500px) {
  header nav {
    padding-left: 25px;
  }
}
header nav a {
  padding-left: 20px;
  color: dark gray;
  text-decoration: none;
}
.intro h2 {
  padding-top: 10px;
}
.intro p {
  padding-top: 10px;
  padding-right: 5px;
  max-width: 100%;
  width: 100%;
}
.education {
  display: flex;
  max-width: 100%;
  width: 100%;
  padding-top: 30px;
}
.education .education-content h2 {
  padding-bottom: 10px;
}
.education .education-content ul {
  margin-left: 20px;
  list-style: square;
}
.education .education-img img {
  padding-left: 20px;
  width: 90%;
}
.work-experience {
  max-width: 100%;
  width: 100%;
}
.work-experience h3 {
  padding-top: 10px;
}
.work-experience .ocean-tomo ul {
  margin-left: 20px;
  list-style: square;
}
@media (max-width: 500px) {
  .work-experience {
    padding-top: 30px;
  }
}
.publications-skills {
  max-width: 100%;
  width: 100%;
}
.publications-skills h2 {
  padding-top: 30px;
}
.publications-skills .pub-content {
  display: flex;
}
.publications-skills .pub-content .skills h3 {
  padding-bottom: 10px;
}
.publications-skills .pub-content .skills ul {
  margin-left: 20px;
  list-style: square;
}
.publications-skills .pub-content .publications h3 {
  padding-bottom: 10px;
}
.publications-skills .pub-content .publications ul {
  margin-left: 20px;
  list-style: square;
}
.publications-skills .pub-content h3 {
  padding-top: 10px;
}
.contact {
  max-width: 100%;
  width: 100%;
}
.contact h2 {
  padding-top: 30px;
}
.contact p {
  padding-top: 10px;
  padding-bottom: 10px;
}
